<div class="container">
	<!-- Novo artista. -->
	<form class="form-horizontal">
		<fieldset>
			<!-- Form Name -->
			<legend>Artista</legend>
			<!-- Código -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="textinput">Código</label>
				<div class="col-md-6">
					<input id="txt_codigo" type="text"
						placeholder="Coloque aqui o código" class="form-control input-md"
						ng-model="artista.codigo">
				</div>
			</div>
			<!-- Nome -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="textinput">Nome</label>
				<div class="col-md-6">
					<input id="txt_nome" type="text"
						placeholder="Coloque aqui o nome" class="form-control input-md"
						ng-model="artista.nome">
				</div>
			</div>
			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-4">
					<button type="button" class="btn btn-primary"
						ng-click="novoArtista(artista)">Novo</button>
				</div>
			</div>

		</fieldset>
	</form>
</div>
<!-- Container -->
