<?xml version="1.0" encoding="UTF-8" ?>
<widget
  xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id = "loja"
  version = "0.0.1-SNAPSHOT">

  <name>Loja</name>
  <description>Loja</description>
  <plugin name="cordova-plugin-whitelist" />
  <access origin="*" />
  <allow-intent href="*" />
  <allow-navigation href="*" />
</widget>
